@import url("./header.css");
@import url("./font.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.miahfornt {
  font-family: MiahFont;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress {
  z-index: 1200 !important;
  height: 3px !important;
}
#nprogress .bar {
  background: #f6d809 !important;
  z-index: 1200 !important;
  height: 3px !important;
}
#nprogress .bar .peg {
  background: rgb#f6d809(99, 99, 94) !important;
  height: 3px !important;
  display: none !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #000 !important;
}
.categorySwiper {
  min-height: 300px;
}

.newArrivalSwiper {
  min-height: 450px;
}
.categorySwiper .swiper-button-next:after,
.categorySwiper .swiper-button-prev:after,
.homeSwiper .swiper-button-next:after,
.homeSwiper .swiper-button-prev:after {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.mainSlider .swiper-button-next,
.mainSlider .swiper-button-prev {
  display: none;
}
.mainSlider .swiper-button-next:after,
.mainSlider .swiper-button-prev:after {
  font-size: 16px;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: all !important;
}

.single-product-container {
  position: relative;
  font-family: MiahFont;
}
.prod-color-variation-cont {
  padding: 5px 0px;
  display: none;
}
.single-product-container:hover .prod-color-variation-cont {
  display: block;
}
.single-product-inner {
  border: 0.1px solid transparent;
}
.single-product-container:hover .single-product-inner {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  display: block;
  background: #ffffff;
  z-index: 9;
  border: 0.1px solid rgba(0, 0, 0, 0.5);
}
.single-prod-slide-inner {
  position: relative;
}
.single-prod-price {
  position: absolute;
  bottom: 0;
  left: 5px;
  display: inline-block;
  background-color: #ffffff;
  z-index: 2;
  padding: 1px 5px;
  transition: all 0.3s;
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: bold;
}
.single-product-container:hover .single-prod-price {
  bottom: 8px;
}

.info-cont p {
  font-size: 0.82rem;
  color: rgba(0, 0, 0, 0.75);
}
.info-cont {
  padding-left: 5px;
}
.info-cont p:nth-child(1) {
  margin-bottom: 2px;
  margin-top: 10px;
}

.info-cont p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 0.82rem;
}

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}
.color-variation-Swiper .swiper-button-next:after,
.color-variation-Swiper .swiper-button-prev:after {
  font-size: 10px;
  font-weight: bold;
}
.mySwiper .swiper-zoom-container {
  /* background: #eff0f4;
  transform-origin: center !important; */
  /* transition-duration: 500ms !important; */
}
.mySwiper .swiper-zoom-container img {
  /* transition-duration: 400ms !important; */
  /* transform-origin: center !important; */
}
.mySwiper .swiper-slide-zoomed {
  /* transition-duration: 800ms !important; */
}
/* .swiper-slide-active:active {
  cursor: move !important;
} */

/* .mySwiper .swiper-slide-active {
  cursor: url("../public/common-asset/iconPlus.png"), auto !important;
}
.mySwiper .swiper-slide-zoomed {
  cursor: url("../public/common-asset/iconMinus.png"), auto !important;
} */

.zoomSlider {
  position: relative;
}
.clickToZoom {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  color: #ffffff;
  text-align: center;
}
.clickFadeout {
  transition: all 1000ms ease-in;
  opacity: 0;
  z-index: 0;
}
.clickFadein {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.my-prismazoom {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eff0f4;
}
.css-m9glnp-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  background-color: blue;
}
.css-m9glnp-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.prismazoom-inner {
  /* height: 100vh; */
  width: 100vh;
}
.my-prismazoom img {
  width: 100%;
}
.closeButton {
  position: absolute !important;
  right: 15px;
  top: 15px;
  z-index: 2;
  border-color: black;
  color: #000;
}
.closeButton:hover {
  border-color: black;
}
.related-back-image {
  display: none;
}
.related-prd-container {
  border: 1px solid transparent;
}
.related-prd-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.related-prd-container:hover .related-frnt-image {
  display: none;
}
.related-prd-container:hover .related-back-image {
  display: block;
}
.related-prd-container p {
  padding-left: 10px;
}

.MuiCardHeader-subheader {
  color: #ffffff !important;
}
header {
  background: #fbfbfb !important;
  color: #000;
}
.marginBottomZero {
  margin-bottom: 0px !important;
}
.marginTopZero {
  margin-top: 0px !important;
}

.paddingTop10{
  padding-top: 10px !important;
}
.mrY {
  margin-top: 0px;
  margin-bottom: 0px;
}
.parentMarginZero p {
  margin-top: 1px;
  margin-bottom: 1px;
}
/* slider thumb */
.slide-thumb {
  margin-top: 5px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.35);
}
.thumbslide .swiper-slide-thumb-active .slide-thumb {
  background-color: rgba(0, 0, 0, 1);
}
.desktop-shopping-icon {
  display: none;
}

.removeBtn,
.favBtn {
  color: #000 !important;
}
.MuiButton-sizeSmall {
  font-size: 0.72rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 0px !important;
  margin-bottom: 5px !important;
}
.offer-card {
  position: absolute;
  top: 10px;
  left: 5px;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  display: inline-block;
  background: #fff;
  padding: 5px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
}
.product-wislist-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.product-wislist-icon svg {
  cursor: pointer;
}

.textCenter {
  text-align: center;
}

.textRed {
  color: red;
}

/* ================== footer ========================= */
.miah-footer svg {
  font-size: 1rem;
}
.miah-footer {
  font-size: 0.85rem;
}
.miah-footer li {
  padding-bottom: 2px;
  padding-top: 2px;
}
.footer-icon-list {
  margin-top: 10px;
}
.footer-icon-list a:hover {
  transition: all 0.5s;
  transform: translateY(-2px);
}

.contactTopArea {
  background-image: linear-gradient(
      to top,
      rgba(5, 11, 31, 0.8),
      rgba(5, 11, 31, 0.8)
    ),
    url(https://miah.shop/img/contact.68e57a91.jpg);
  background-position: center center;
  text-align: center;
  padding: 100px 0px;
  color: #fff;
}

.searchList {
  text-transform: capitalize;
  margin: 4px 0px;
}
.searchList:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-panel-product:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.treadingSearhList p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bottomAnimation img {
  width: 400px;
}

.newArraivalProduct {
  text-align: center;
  background: #eff0f4;
  padding-bottom: 5px;
}
.newArraivalProduct:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ======= media query ====== */

@media screen and (max-width: 768px) {
  .bottomAnimation img {
    width: 100%;
  }
  .single-product-container:hover .single-product-inner {
    border: 0.1px solid rgba(0, 0, 0, 0) !important;
  }
  .newArraivalProduct{
    min-height: 270px;
  }
  .categorySwiper {
    min-height: 180px;
  }
  .newArrivalSwiper {
    min-height: 310px;
  }
}

@media screen and (min-width: 768px) {
  .mainSlider:hover .swiper-button-next {
    display: block;
  }
  .mainSlider:hover .swiper-button-prev {
    display: block;
  }
}


.centredCategorySlider .swiper-slide {
  transition: all 200ms linear;
  opacity: .45;
  transform: scale(0.8);
}
.centredCategorySlider .swiper-slide.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.prizmaPrevBtn{
  position: absolute;
  left: 0;
}
.prizmaNextBtn{
  position: absolute;
  right: 0;
}