@import url("./font.css");
.icontext {
  display: inline-block;
  margin-bottom: 2px;
  overflow: hidden;
}
.desktop-logo-container {
  background-color: #fff;
  position: relative;
  height: 20px;
}
.desktop-logo-container img {
  position: absolute;
  bottom:30%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 200px;
}
.navbar {
  background-color: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.dropdown {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  font-family: MiahFont;
  text-transform: uppercase;
}
.dropdown span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .desktop-logo-container img {
    width: 150px;
    bottom: 75%;
  }
}
